extends layout

block content
  h1 Auditors Webhook
  p: a(href="/login") Login with GitHub
  if access_token
    p Your new access token is #{access_token}. Please set this as an environment variable (see the README) and restart the server.
